.PrevTripCard {
  width: 500px;
  height: 275px;
  background-color: var(--purple);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-family: 'Reem Kufi', sans-serif;
  color: var(--white);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.prev-card-inner {
  padding: 20px 0;
}

.prev-card-title {
  font-size: 36px;
  margin: 0 20px 15px 20px;
}

.prev-trip-one {
  margin-left: 15px;
}

.prev-trip-two {
  margin-left: 5px;
}

.yellow-nav {
  background-image: var(--nav-arrow-yellow);
  height: 40px;
  width: 28px;
  margin-left: 8px;
}